<!DOCTYPE html>
<html Lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="imagem/png" href="img/peter.png" />
	<title>Tecweb</title>
	<style>
		#subtitulo{color: coral;}
	
	</style>

	

	<title>Aula Tecweb</title>
</head>

<body>
	<!-- meu primeiro html -->

	<center><h1 style = "color: rgb(255, 81, 0);" >Bem vindos à programação em, CSS3 e JavaScript </h1></center>
	<h2 style = "text-align: center; color: rgb(0, 255, 76)"; >Bem vindos à programação em HTML5</h2>
	<p>Etiam posuere quam ac quam. Maecenas <strong>aliquet accumsan leo.</strong> Nullam dapibus fermentum ipsum. 
		Etiam quis quam. Integer lacinia. <br/>Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, 
		felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium</p>
	<h3 style = "color: rgb(68, 0, 255);" >Bem vindos à programação em HTML5</h3>
	<p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. 
		Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, 
		felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium</p>
	<a href="https://www.google.com.br/" target="_blank">Ir para o site Google</a>
	<br/><a href="http://www.facebook.com.br"target="_blank">Ir para o face book</a>
	<h4 style ="bottom: rgb(22, 112, 112);" id="subtitulo">Bem vindos à programação em HTML5</h4>
	<h5>Bem vindos à programação em HTML5</h5>
	<h6>Bem vindos à programação em HTML5</h6>
<img src="img/icone.png" alt="icone google">
</body>

</html>