<!DOCTYPE html>
<html Lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="imagem/png" href="icone.png" />
	<title>Tecweb</title>

	

	<title>Aula Tecweb</title>
</head>

<body>
	<!-- meu primeiro html -->

	<h1 style = "color: rgb(255, 81, 0);" >Bem vindos à programação em HTML5</h1>
	<h2 style = "color: rgb(0, 255, 76);" >Bem vindos à programação em HTML5</h2>
	<h3 style = "color: rgb(68, 0, 255);" >Bem vindos à programação em HTML5</h3>
	<h4 style ="bottom: rgb(22, 112, 112);">Bem vindos à programação em HTML5</h4>
	<h5>Bem vindos à programação em HTML5</h5>
	<h6>Bem vindos à programação em HTML5</h6>
<img src="icone.png" alt="icone">
</body>

</html>